*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
}


form{
    width: 400px;
    margin-top: 50px;
    gap: 10px;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.form-input input{
    width: 100%;
    font-size: 1.1rem;
    padding: 5px;

} 

.btt{
    width: 35%;
    margin-bottom: 5%;
    height: 40px;
background-color: gold;
}
h1{
    margin-bottom: 5%;
}

.btn{
    color: white;
    background-color: green;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    width: 40%;
    height: 35px;
}

.btnlog{
    color: white;
    background-color: blue;
    width:50%;
    margin: 15px;
    height: 35px;
}
.log{
    color: white;
}


h1{
    margin-bottom: 15px;
}